<?xml version="1.0" encoding="utf-8" ?>
<AppConfig>
  <Global>
    <Item Key="DefaultVolume" Value="65" />
    <Item Key="AnnounceTime" Value="" />
    <Item Key="FlashPeriod" Value="100" />
    <Item Key="LogPath" Value="C:\Users\Master\Desktop\Dropbox\Client Name 00001\" />
    <Item Key="BreakAlertInterval" Value="100" />
    <Item Key="BreakAlertVolume" Value="40" />
    <Item Key="SelectWitnessAudioTemplate" Value="To start with the #Witness Type# deposition of #Witness# , press the button now." />
    <Item Key="StartAudioTemplate" Value="We are about to begin the #Witness Type# deposition of #Witness# . Please make sure all the mics are outside the enclosure and within 2 feet of their designated speakers. If this was by error, simply ignore this message and the system will reset back. otherwise press the button within 10 seconds to begin." />
    <Item Key="TotalTimeAudioTemplate" Value="We have been on the record for" />
    <Item Key="EndTimeAudioTemplate" Value="Total running time for this deposition is" />
    <Item Key="AucityAPIUrl" Value="https://acuityscheduling.com/api/v1/appointments?direction=ASC&amp;minDate=%MINDATE%&amp;maxDate=%MAXDATE%" />
    <Item Key="AucityFetchInterval" Value="60" />
    <Item Key="AucityAPIUser" Value="19487502" />
    <Item Key="AucityAPIPass" Value="30fce42b9991bbd32cea500a49c7d3b9" />
    <Item Key="ServerUrl" Value="http://34.71.127.246" />
    <Item Key="Videographer" Value="Monti Majthoob" />
    <Item Key="Commission" Value="4,1,7,6. 0,6,3,9." />
  </Global>

  <OBS>
    <Config Key="ProcessName" Value="obs64" />
    <Config Key="MirrorSource" Process="Mirror" Window="Mirror" />
    <Config Key="MirrorResolution" Width="1280" Height="720" />
    <Config Key="DetectThreadhold" Value="0" />
    <Config Key="SwitchTime" Value="5000" />
    <Config Key="StartHotkey" Value="R" />
    <Config Key="StopHotkey" Value="S" />
    <Config Key="PauseHotkey" Value="P" />
    <Config Key="UnpauseHotkey" Value="U" />
    <Config Key="WitnessHotkey" Value="1" />
    <Config Key="ExhibitsHotkey" Value="2" />
  </OBS>

  <Keywords>
    <Keyword Key="MachineID" Name="Your NoRV Machine ID" />
    <Keyword Key="Witness" Name="Enter Name of Witness" />
    <Keyword Key="Template" Name="Type of Witness" />
    <Keyword Key="CaseName" Name="Case Name" />
    <Keyword Key="Counsel" Name="You Represent" />
    <Keyword Key="Address" Name="Address of Deposition" />
    <Keyword Key="TimeZone" Name="Time zone where the witness will be" />
    <Keyword Key="Videographer" Name="Videographer (LEAVE BLANK- INTERNAL USE ONLY)" />
    <Keyword Key="Commission" Name="Commission (LEAVE BLANK- INTERNAL USE ONLY)" />
  </Keywords>

  <Templates>
    <Template Type="Personal">
      We are on the record. On #Date#, The time is now #Time#.

      This is the video recorded deposition of #Witness#, being taken by counsel for the #Counsel#.
      In the matter of: #CaseName#.
      This Deposition is being held @, #Address#.

      The technician monitoring these proceedings today is, #Videographer#, a Notarized remote legal videographer on behalf of NoRV Tech. located at, 1333 El Camino Real, Burlingame, california.
      The videographer's Notary Commission number for the record is #Commission#.

      NORV tech nor any of their technicians are related to any party in this action, nor they are financially interested in the outcome.

      Would all prezent please identify yourselves for the record after which the court reporter will identify themselves and then swear in the witness.
    </Template>

    <Template Type="30B6">
      We are on the record. On #Date#, The time is now #Time#.

      This is the Thirty B 6 video deposition of #Witness#, being taken by counsel for the #Counsel#.
      In the matter of: #CaseName#.
      This Deposition is being held @, #Address#.

      The technician monitoring these proceedings today is, #Videographer#, a Notarized remote legal videographer on behalf of NoRV Tech. located at, 1333 El Camino Real, Burlingame, california.
      The videographer's Notary Commission number for the record is #Commission#.

      NORV tech nor any of their technicians are related to any party in this action, nor they are financially interested in the outcome.

      Would all prezent please identify yourselves for the record after which the court reporter will identify themselves and then swear in the witness.
    </Template>
  </Templates>
</AppConfig>